<template>
  <div id="app">
    <h2>Libros:</h2>
    <br>

    <form @submit.prevent="submitForm">
      <div class="form-group row">
        <input type="text" class="form-control col-3 mx-2" placeholder="Titulo" v-model="book.title">
        <input type="text" class="form-control col-3 mx-2" placeholder="Autor" v-model="book.author">
        <input type="text" class="form-control col-3 mx-2" placeholder="ISBN" v-model="book.isbn">
        <input type="text" class="form-control col-3 mx-2" placeholder="Editorial" v-model="book.publisher">
        <button class="btn btn-success">Submit</button>
      </div>
    </form>
    
    <br>

    <table class="table">
      <thead>
        <th>Titulo</th>
        <th>Autor</th>
        <th>ISBN</th>
        <th>Editorial</th>
      </thead>

      <tbody>
      
        <tr v-for="book in books" :key="book.id" @dblclick="$data.book = book">

            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.isbn }}</td>
            <td>{{ book.publisher }}</td>
            <td>
              <button class="btn btn-outline-danger btn-sm mx-1" @click="deleteBook(book)">Delete</button>
            </td>
       

        </tr>
      
      </tbody>
    </table>

  </div>
</template>



<script>

export default {
  name: 'Book', 
  data() {
    return {
      book: {
        'title': '',
        'author': '',
        'isbn': '',
        'publisher': '',
      },
      books: [],
    }
  },

  // Fetches posts when the component is created.
  async created() {
    await this.getBooks();
  },

  methods: {
    submitForm(){
      if (this.book.id === undefined ){
        this.createBook();
      } else {
        this.editBook();
      }
    },

    async getBooks(){
      var response = await fetch(`https://g3-p67-min.herokuapp.com/api/books/`);
      this.books = await response.json()
    },

    async createBook(){
      await this.getBooks();

      await fetch(`https://g3-p67-min.herokuapp.com/api/books/`, {
        method: 'post', 
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(this.book)
      });
      await this.getBooks();
      },

    async editBook() {
      await this.getBooks();

      await fetch(`https://g3-p67-min.herokuapp.com/api/books/${this.book.id}`, {
        method: 'put', 
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(this.book)
      });
      await this.getBooks();
      this.book = {};
    },

    async deleteBook(book){
      await this.getBooks();

      await fetch(`https://g3-p67-min.herokuapp.com/api/books/${book.id}`, {
        method: 'delete', 
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(this.book)
      });
      await this.getBooks();
    }

    }
};

</script>




<style>
.greetings {
  margin: 0;
  padding: 0%;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.greetings h1 {
  font-size: 50px;
  color: #29995B;
}
.greetings span {
  color: rgb(236, 153, 45);
  font-weight: bold;
}
</style>